footer.footer
	.container
		.footer-wrap.d-flex.space-between.align-center
			p.footer-copy © Copyright 2014 by PSD Booster. All Rights Reserved.
			.footer-social
				a(href="#").footer-social__link
					img.footer-social__icon(src="img/icons/social/twitter.svg" alt="twitter")
				a(href="#").footer-social__link
					img.footer-social__icon(src="img/icons/social/facebook.svg" alt="facebook")
				a(href="#").footer-social__link
					img.footer-social__icon(src="img/icons/social/skype.svg" alt="skype")
				a(href="#").footer-social__link
					img.footer-social__icon(src="img/icons/social/behance.svg" alt="behance")
				a(href="#").footer-social__link
					img.footer-social__icon(src="img/icons/social/linkedin.svg" alt="linkedin")
			
