header.header
	.container
		.header-wrap
			a.header-logo(href="#")
				img(src="img/logo.png", alt="Modest")

			nav.header-nav
				ul.header-nav__list

					li.header-nav__item.header-nav__item_active
						a.header-nav__link(href="#") HOME

					li.header-nav__item 
						a.header-nav__link(href="#") ABOUT

					li.header-nav__item 
						a.header-nav__link(href="#") WORK

					li.header-nav__item 
						a.header-nav__link(href="#") TEAM

					li.header-nav__item 
						a.header-nav__link(href="#") SERVICES

					li.header-nav__item 
						a.header-nav__link(href="#") FEATURES

					li.header-nav__item 
						a.header-nav__link(href="#") CONTACT
