extends ../layout/main

block variables
	- var pageTitle = 'Modest Template'

block content
	main.welcome(style="background-image: url(img/welcome-bg.jpg)")
		.container
			.welcome-wrap
				.slider-block
					.slider-item
						.slider-item__title WELCOME TO OUR MARKETPLACE
						.slider-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor 
								| non, ornare sagittis dolor. Nulla vestibulu lacus ...
						.slider-item__buttons
							a.button.slider-item__button(href="#") VIEW MORE
							a.button.slider-item__button(href="#") VIDEO TOUR
					.slider-item
						.slider-item__title WELCOME TO OUR MARKETPLACE
						.slider-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor 
								| non, ornare sagittis dolor. Nulla vestibulu lacus ...
						.slider-item__buttons
							a.button.slider-item__button(href="#") VIEW MORE
							a.button.slider-item__button(href="#") VIDEO TOUR
					.slider-item
						.slider-item__title WELCOME TO OUR MARKETPLACE
						.slider-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor 
								| non, ornare sagittis dolor. Nulla vestibulu lacus ...
						.slider-item__buttons
							a.button.slider-item__button(href="#") VIEW MORE
							a.button.slider-item__button(href="#") VIDEO TOUR
